h1,
h2,
h3,
h4 {
  margin: 8px 0;
}

th {
  padding: 4px 8px !important;
  border: 1px solid #757575;
}

td {
  padding: 4px 16px !important;
}

input {
  height: 38px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #757575;
}

input,
button {
  animation: shadow 6s forwards;
}

@keyframes shadow {
  from {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  }
  to {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

h4 {
  position: relative;
  animation-name: move;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes move {
  0% {
    left: 0px;
  }
  50% {
    left: 100px;
  }
  100% {
    left: 0px;
  }
}
